<%- include("partials/header") -%>
    <h1>Contact Us</h1>
    <p><%= contactContent %></p>
    <div class="contact-info">
            <div class="contact-field">
                <label style="color: rgb(253, 207, 245); font-size: larger;">Address:</label>
                <p style="color: rgb(255, 255, 255); font-size: medium;">123 Purple Street, Cityville, Country</p>
            </div>
            <div class="contact-field">
                <label style="color: rgb(253, 207, 245);font-size:larger;">Email ID:</label>
                <p style="color: rgb(255, 255, 255); font-size: medium;">dailyjournal@website.com</p>
            </div>
            <div class="contact-field">
                <label style="color: rgb(253, 207, 245); font-size: larger;">Phone Number:</label>
                <p style="color: rgb(255, 255, 255); font-size: medium;">+91 01234567789</p>
            </div>
    </div>
<%- include("partials/footer") -%>